<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BookShare - Auntenticación</title>
        <link rel="stylesheet" href="../static/css/autenticador.css" />
        <link rel="icon" href="./static/img/Logo2.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <img id="logo" src="../static/img/Logo.png" alt="BookShareU" onclick="window.location.href='../index.html'">
        <main>
            <div id="cont_botones">
                <button id="login-button" class="boton_reg" onclick="mostrarLogin()">Iniciar sesión</button>
                <button id="register-button" class="boton_reg" onclick="mostrarRegistro()">Registrarse</button>
            </div>
            <div id="principal">
                <div class="paneles" id="panel_Login">
                    <img src="../static/img/Libros1.png" alt="Libros" class="libros" id="libro1" style="display: none;">
                    <div class="texto" id="login" >
                        <h3>Inicio de Sesión</h3>
                        <p>Ingresa tus datos para iniciar sesión en BookShare</p>
                        <form action="formulario_login" method="post" class="formulario" id="formulario_login" autocomplete="off">    
                            <div class="inputLabel">
                                <label for="correo_login">
                                    Correo Electrónico
                                </label>
                                <input name="correo_login" type="email" required>
                            </div>
                            <div class="inputLabel">
                                <label for="contrasena_login">
                                    Contraseña
                                </label>
                                <input name="contrasena_login" type="password" required>
                            </div>
                            <button type="submit">Iniciar sesión</button>
                        </form>
                    </div>
                </div>
                <div class="paneles" id="panel_Register">
                    <img src="../static/img/Libros2.png" alt="Libros" class="libros" id="libro2" >
                    <div class="texto"  id="registro" style="display: none;">
                        <h3>Registro</h3>
                        <p>Rellena los campos para tu registro exitoso en BookShare</p>
                        <form action="registro.php" method="POST" class="formulario" id="formulario_register" autocomplete="off">
                            <div class="inputLabel">
                                <label for="pNombre_registro">Primer Nombre</label>
                                <input name="pNombre_registro" type="text" required>
                            </div>
                            <div class="inputLabel">
                                <label for="sNombre_registro">Segundo Nombre <span>(Opcional)</span></label>
                                <input name="sNombre_registro" type="text">
                            </div>
                            <div class="inputLabel">
                                <label for="pApellido_registro">Primer Apellido</label>
                                <input name="pApellido_registro" type="text" required>
                            </div>
                            <div class="inputLabel">
                                <label for="sApellido_registro">Segundo Apellido</label>
                                <input name="sApellido_registro" type="text" required>
                            </div>
                            <div class="inputLabel">
                                <label for="correo_registro">Correo</label>
                                <input name="correo_registro" type="email" required>
                            </div>
                            <div class="inputLabel">
                                <label for="contrasena_registro">Contraseña</label>
                                <input name="contrasena_registro" type="password" required>
                            </div>
                            <div class="inputLabel">
                                <label for="vContrasena_registro">Verifica la Contraseña</label>
                                <input name="vContrasena_registro" type="password" required>
                            </div>
                            <button type="submit">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://kit.fontawesome.com/0b856504cf.js" crossorigin="anonymous"></script>
        <script src="../static/js/autenticador.js"></script>
    </body>
</html>
