<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BookShare</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="./static/css/index.css" />
        <link rel="icon" href="./static/img/Isotipo 1 - Icono.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="headerPart1">
                <a href="/" class="logo"><img src="./static/img/Isotipo 1 - Logo.png" alt="BookShare" id="logo"></a>
                <nav>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="inicioSesion_btn">
                <button class="inicioSesion_btn login-button" onclick="window.location.href = '/login'">Iniciar sesión</button>
            </div>
        </header>

        <div id="div_principal">
            <div class="div_top">
                <h1>BookShare</h1>
                <p>
                    Intercambia libros con otros de
                    forma fácil y económica. Únete a nuestra comunidad y comparte
                     tus libros, da a ti y ellos una segunda oportunidad.
                </p>
                <a href="#" class="cta-button" onclick="window.location ='/register'">Regístrate ahora</a>
            </div>
            <div class="features">
                <div class="feature-card">
                    <i class="fas fa-book"></i>
                    <h3>Publicación de libros</h3>
                    <p>
                        Publica los libros que deseas intercambiar con otros
                        estudiantes.
                    </p>
                </div>
                <div class="feature-card">
                    <i class="fas fa-search"></i>
                    <h3>Búsqueda de libros</h3>
                    <p>
                        Encuentra los libros que necesitas por género, autor o
                        universidad.
                    </p>
                </div>
                <div class="feature-card">
                    <i class="fas fa-exchange-alt"></i>
                    <h3>Solicitudes de intercambio</h3>
                    <p>
                        Gestiona fácilmente las solicitudes de intercambio con
                        otros usuarios.
                    </p>
                </div>
                <div class="feature-card">
                    <i class="fas fa-star"></i>
                    <h3>Calificación de intercambios</h3>
                    <p>
                        Califica tus experiencias de intercambio y construye tu
                        reputación.
                    </p>
                </div>
                <div class="feature-card">
                    <i class="fas fa-comments"></i>
                    <h3>Comentarios</h3>
                    <p>
                        Comparte tu experiencia dejando comentarios sobre los
                        intercambios.
                    </p>
                </div>
                <div class="feature-card">
                    <i class="fas fa-history"></i>
                    <h3>Historial de intercambios</h3>
                    <p>
                        Accede a tu historial completo de intercambios
                        realizados.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
