<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BookShare - Registro</title>
        <link rel="stylesheet" href="../static/css/recordarContrasena.css" />
        <link rel="icon" href="./static/img/Logo2.ico" type="image/x-icon" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>
            <img
                onclick="window.location.href='/'"
                src="../static/img/Isotipo 1 - Logo.png"
                alt="BookShare"
            />
            <h2 onclick="window.location.href='/'">BookShare</h2>
        </header>
        <main>
            <div class="formulario">
                <div class="encabezado">
                    <h3>Olvidaste tu contraseña</h3>
                    <p>
                        Ingresa tu correo electrónico y recibirás un correo con
                        tu contraseña de ingreso. No la compartas con nadie
                    </p>
                </div>
                <form id="recoveryForm" method="post">
                    <div class="inputLabel">
                        <label for="correo_recordar">
                            Correo electrónico<span class="asterisco">*</span>
                        </label>
                        <input type="email" name="correo_recordar" />
                        <button type="submit">Recordar contraseña</button>
                    </div>
                </form>
                <a href="/login">Iniciar sesión</a>
            </div>
        </main>
        <div id="notification" class="notification">
            <span id="notificationMessage"></span>
            <button class="close-btn" onclick="hideNotification()">X</button>
        </div>
        <footer></footer>
        <script
            src="https://kit.fontawesome.com/0b856504cf.js"
            crossorigin="anonymous"
        ></script>
        <script src="../static/js/recordarContrasena.js"></script>
    </body>
</html>
